{% extends 'for_base/top.html' %}
{% load static %}
{% block title %}Приют для животных{% endblock %}
{% block contant %}

    <div class="album py-5">
        <div class="container">
            <div class="row">
                {% for pet in Pets %}
                <div class="col-md-3">
                        <div class="card mb-4 shadow-sm" >
                            <a href="{{ pet.id }}">
                            <img src="{{ media }}{{ pet.face }}" alt="{{ pet.name }}" class="w-100">
                            </a>
                            <div class="card-body">
                                <p class="card-text">{{ pet.name }} - {{ pet.age }}</p>
                            </div>
                        </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}